# Web framework
Flask==3.0.3
flask-cors
itsdangerous
Werkzeug
gunicorn
# Excel export
openpyxl
# Text-to-Speech
gTTS
pygame
# Thermal printer ESC/POS (USB)
python-escpos
# Hardware Raspberry Pi
spidev
mfrc522
RPi.GPIO